body {
  /* background: radial-gradient(circle at center 0,#7877c6 -300%,#000212 90%) no-repeat; */
  background: #0d0b0e;
  height: 100svh;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.glass {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
