html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background: radial-gradient(circle at center 0,#7877c6 -300%,#000212 90%) no-repeat; */
  /* background: #0d0b0e; */
  background: #0d1421;
  height: 100%;
  color: aliceblue;
}

.glass {
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.glass-dark {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.glass-light {
  background: #ffffff80;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.glass-semilight {
  background: #ffffff26;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.max-content {
  width: max-content;
}

.white-border {
  border: 2px solid white;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}

/* flip card START */

.flip-card-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* flip card END */

/* settings button START */

.setting-btn {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px rgb(212, 209, 255);
}
.bar {
  width: 50%;
  height: 2px;
  background-color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: rgb(126, 117, 255);
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s;
  box-shadow: 0px 0px 5px white;
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}

/* settings button END */

.tradingview-border {
  border: 1px solid #363a45;
}

.tradingview-border-bottom {
  border-bottom: 1px solid #363a45;
}

.moving-border-green {
  background: linear-gradient(#0d0b0e, #0b180d) padding-box,
    linear-gradient(145deg, transparent 35%, #1cffa8, #068a4c) border-box;
  border: 2px solid transparent;
  background-size: 300% 200%;
  animation: gradient 7s ease infinite;
}

.moving-border-red {
  background: linear-gradient(#0d0b0e, #160808) padding-box,
    linear-gradient(145deg, transparent 35%, #ff1c1c, #8a0404) border-box;
  border: 2px solid transparent;
  background-size: 300% 200%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 40%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0% 40%;
  }
}
